.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 3.5em;
    margin-top: 40px;
    margin-bottom: 10px;
}

.sub_title {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: rgb(133, 133, 133);
}

.description {
    margin-bottom: 10px;
}

.description p {
    margin-bottom: 20px;
}

.logos a {
    margin: 0px 5px;
}


